---
import { NewSerie } from "../../../components/SeriesExamen/NewSerieExamen";
import Sistema from "../../../layouts/sistema.astro";
---

<Sistema title="Series de Examen" bgColor="bg-[#f3f3f5]">
  <div class="mx-auto mt-10 h-auto w-full max-w-4xl px-4">
    <h1
      class="font-bold text-[45px] text-primary font-page text-left flex items-center gap-3"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-[42px] h-[42px]"
        viewBox="0 0 24 24"
        fill="none"
      >
        <defs>
          <linearGradient id="serieExamenGradient" x1="0" y1="0" x2="1" y2="1">
            <stop offset="0%" stop-color="#f2b8bc"></stop>
            <stop offset="50%" stop-color="#aeb8f0"></stop>
            <stop offset="100%" stop-color="#dab5e9"></stop>
          </linearGradient>
        </defs>
        <path
          fill="url(#serieExamenGradient)"
          d="M4 5h16a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm0 5h16a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1Zm0 5h16a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1Z"
        ></path>
      </svg>

      Registrar Nuevo Tipo de Examen
    </h1>

    <div
      class="h-1 w-108 mt-2 bg-gradient-to-r from-[#f2b8bc] via-[#aeb8f0] to-[#dab5e9] rounded-full shadow-md"
    >
    </div>
    <p class="font-page font-normal text-primary text-[20px] mt-3 text-left">
      Complete el formulario a continuación para registrar una serie para un
      examen.
    </p>
    <div
      class="bg-white w-full h-auto font-page rounded-md shadow-md mt-5 mb-5"
    >
      <div class="px-6 md:px-10 lg:px-20">
        <h1 class="font-bold text-primary text-[20px] pt-5">
          Información de la Serie
        </h1>
        <NewSerie client:load />
      </div>
    </div>
    <div class="mt-10 h-8"></div>
  </div>
</Sistema>
