---
import Sistema from "../../../layouts/sistema.astro";
import { ViewPreguntaRespuesta } from "../../../components/PreguntasRespuestas/ViewPreguntaRespuesta";
---

<Sistema title="Gestionar Preguntas de Examen" bgColor="bg-[#f3f3f5]">
  <h1
    class="font-bold text-[45px] text-primary font-page text-left flex items-center gap-3 ml-[155px] mt-10"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      class="w-[42px] h-[42px]"
    >
      <defs>
        <linearGradient id="questionMarkGradient" x1="0" y1="0" x2="1" y2="1">
          <stop offset="0%" stop-color="#f2b8bc"></stop>
          <stop offset="50%" stop-color="#aeb8f0"></stop>
          <stop offset="100%" stop-color="#dab5e9"></stop>
        </linearGradient>
      </defs>
      <circle cx="12" cy="12" r="10" fill="url(#questionMarkGradient)"></circle>
      <text
        x="12"
        y="16"
        text-anchor="middle"
        font-size="12"
        font-family="Arial, sans-serif"
        fill="#fff"
        font-weight="bold"
      >
        ?
      </text>
    </svg>
    Preguntas de Examen Registrados en el Sistema
  </h1>
  <div
    class="h-1 w-[1100px] mt-2 ml-[155px] bg-gradient-to-r from-[#f2b8bc] via-[#aeb8f0] to-[#dab5e9] rounded-full shadow-md"
  >
  </div>
  <p class="text-[20px] text-primary mr-32 ml-40 mb-3 mt-7 font-page text-left">
    Para buscar alguna pregunta en especifico ingresa la en el cuadro de
    busqueda
  </p>
  <div class="max-h-[60vh] mr-32 ml-32 px-4 bg-background rounded-md">
    <ViewPreguntaRespuesta client:load />
  </div>
</Sistema>
